@{
Layout = "_Layout";

}
<div class="container">
<h2>@Model["stylist"].GetName()</h2>
<hr>
<br>
<h3>This is your client details:</h2>
<h3>Name: @Model["client"].GetClientName()</h3>
<h3>Stylist number: @Model["stylist"].GetId()</h2>
</div>
