@{
Layout = "_Layout";

}

<h2>@Model["stylist"].GetName()</h2>
<hr>
<br>
<p>This is your Details:</p>
<h3>Name: @Model["client"].GetClientName()</h3>
<p>Stylist number: @Model["stylist"].GetId()</p>
