@{
Layout = "_Layout";
}
<div class="container">
<h1>Clients</h1>
<hr />

@if (@Model.Count != 0)
{
  <ol>
    @foreach (var clients in @Model)
    {
      <li><h4>@clients.GetClientName()<br>  <a href="/clients/@clients.GetClientId()/update">Edit</a> | <a method="post" href="/clients/@clients.GetClientId()/delete">Delete</a></h4> </li>

    }
  </ol>
}

<hr>
<form action="clients/delete" method="post">
<button type="submit" class="btn btn-info">Clear All</button>
</form>
</div>
s
