@{
  Layout = "_Layout";
}

<div class="container">
<h1>Clients</h1>
<hr />
<h2>Edit: @Model.GetClientName()</h2>
<form action="/clients/@Model.GetClientId()/update" method="post">
  <label for="new-client-name">Name:</label>
  <input id="new-client-name" type="text" name="new-client-name" value="@Model.GetClientName()">
  <button type="submit">Update</button>
</form>

</div>
