@{
Layout = "_Layout";
}
<div class="container">
<h1>Welcome to the Julius Hair Salon!</h1>
<br>
<hr>
<p><a href='/stylists/new' class="btn btn-success">Add a stylist</a></p>
<p><a href='/specialties/new' class="btn btn-success">Add a specialty</a></p>
<br>
<hr>
<p><a href='/clients' class="btn btn-success">View all Clients</a></p>
<p><a href='/stylists' class="btn btn-success">View all Stylists</a></p>
<p><a href = "/specialties" class="btn btn-success">View Specialties</a></p>
</div>
