@{
Layout = "_Layout";
}

<h1>Welcome to the Julius Hair Salon!</h1>
<br>
<hr>
<p><a href='/stylists/new'>Add a stylist</a></p>
<p><a href='/specialties/new'>Add a specialty</a></p>
<br>
<hr>
<p><a href='/stylists'>View all Stylists</a></p>
<p><a href = "/specialties">View Specialties</a></p>
