@{
Layout = "_Layout";
}
<div class="container">
<h1>Hire a stylist!</h1>
<form action="/stylists" method="post">
  <label for="new-stylist">Add a stylist</label>
  <input id="new-stylist" name="new-stylist" type="text">
  <button type="submit">Add Stylist!</button>
</form>
<hr>
<p><a href="/stylists" class="btn btn-info">Back to Stylists</a></p>
</div>
