
@{
Layout = "_Layout";
}
<h2>Here are all the clients for you:</h2>
<ol>
@foreach (var client in @Model["client"])
{
  <li><a href="/stylists/@Model["stylist"].GetId()/clients/@client.GetClientId()">@client.GetClientName()</li>
}
</ol>
<hr>
<br>


<p><a href='/stylists/new'>Add another stylist</a></p>
<br>
<br>
<p><a href='/stylists'>View all Stylists</a></p>
<br>
<br>
<p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a client</a></p>
<br>
<br>
<p><a href="/stylists/@Model["stylist"].GetId()/delete">Clear all CLients</a></p>
